@font-face {
    font-family: "Cascadia Code";
    src: url("../fonts/CascadiaCode.ttf") format("truetype");
    src: url("../fonts/CascadiaCode.woff2") format("woff2");
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cascadia Code";
    src: url("../fonts/CascadiaCodeItalic.ttf") format("truetype");
    src: url("../fonts/CascadiaCodeItalic.woff2") format("woff2");
    font-style: italic;
    font-display: swap
}

:root {
    color-scheme: dark;
    --color-deep: #1a1a1a;
    --color-bg: #202020;
    --color-bg-2: #282828;
    --color-smol: #363636;
    --color-dim: #525252;
    --color-meh: #8b8b8b;
    --color-fg: #c8c8c8;
    --color-blue: #96c6dd;
    --color-purp: #bcb8e2;
    --filter-dim: invert(31%) sepia(0%) saturate(433%) hue-rotate(241deg) brightness(95%) contrast(86%);
    --filter-fg: invert(87%) sepia(5%) saturate(24%) hue-rotate(123deg) brightness(92%) contrast(93%);
    --transition: 500ms cubic-bezier(0.1, 1.0, 0.1, 1.0);
}

* {
    font-family: "Cascadia Code";
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.section {
    padding-bottom: 8rem;
    flex: 1 0 auto;
}

.container {
    height: 100%;
}

.column {
    margin: auto;
    max-width: 700px;
    padding: 0px 80px;
    box-sizing: content-box;
}

p,
ul,
pre {
    margin-top: 1.75rem;
    margin-bottom: 0;
}

iframe {
    margin-top: 1.75rem;
    margin-bottom: 0;
    border-radius: .75rem;
}

pre, blockquote {
    border-radius: .75rem;
    box-shadow: 0.5rem 0.5rem var(--color-deep);
}

blockquote {
    margin: 0;
    margin-top: 1.6rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-bg-2);
    border: solid 2px var(--color-smol);
    border-left: solid 8px var(--color-smol);
}

blockquote p {
    margin: 0;
    text-box-trim: trim both;
    font-style: italic;
}

pre {
    line-height: normal;
    padding: 1rem 1.5rem;
    border: solid 2px var(--color-smol);
    overflow: scroll;
    scrollbar-width: none;
}

p > code,
li > code {
    padding: .125ch .5ch;
    margin: 0 -0.5ch;
    border-radius: .38em;
    border: 2px solid var(--color-smol);
    box-shadow: 0.25rem 0.25rem var(--color-deep);
}

.term {
    margin-top: 5.0rem;
    padding: 1.8rem 2.2rem;
    border: solid 2px var(--color-smol);
    border-radius: 0.8rem;
    box-shadow: 0.7rem 0.7rem var(--color-deep);
    transition: box-shadow 0.75s;
}

.term:hover {
    box-shadow: 2.5rem 2.5rem var(--color-deep);
}

.term > p {
    margin: 0;
}

.term-extra {
    color: var(--color-meh);
    font-weight: bold;
}

.term-symbol {
    color: var(--color-blue);
    font-weight: bold;
}

.term > p.term-output {
    margin: 1.5rem 0;
}

.term-prompt {
    line-height: 1.15;
}

.term-cursor {
    animation: blinker 1.5s cubic-bezier(0.1, 1.0, 0.1, 1.0) infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.page-list {
    padding: 0;
}

.page-list-item {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    border-radius: 1.0rem;
    background-color: var(--color-bg);
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.6rem;
}

.page-title a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color var(--transition);
}

.page-title a:hover {
    color: var(--color-blue);
}

.page-subtitle {
    color: var(--color-dim);
    display: flex;
    gap: 0.6rem;
    margin-top: 0.0rem;
}

.page-subtitle p {
    margin: 0;
}

.page-info {
    margin-left: 1rem;
    color: var(--color-dim);
}

.page-info::after {
    content: " min";
}

.draft {
    color: var(--color-dim);
}

h1, h2, h3, h4, h5, h6 {
    /* font-weight: 900; */
    color: var(--color-blue);
    margin-bottom: 0;
}

h1 {
    font-size: 2.4rem;
    margin-top: 0.0rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-top: 5.0rem;
    position: relative;
}

h3 {
    font-size: 1.4rem;
    margin-top: 3.0rem;
    position: relative;
}

::selection {
  color: var(--color-bg);
  background: var(--color-blue);
}

.title-section {
    margin-top: 5.0rem;
    margin-bottom: 4.0rem;
    padding-bottom: 2rem;
}

.subtitle {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: .75rem;
    color: var(--color-dim);
    text-align: center;
}

::marker {
    color: var(--color-blue);
    content: "\2B24  ";
}

nav ul {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

nav > ul > li {
    float: left;
    margin-left: 1.1em;
}

nav > ul > li::marker {
    content: "";
}

nav > ul > li > a {
    color: var(--color-fg);
    text-underline-offset: 3px;
}

header > h1 > a {
    text-underline-offset: 3px;
}

nav > ul > li.active {
    color: var(--color-bg);
}

a {
    color: inherit;
    text-decoration: underline solid 3px var(--color-dim);
    text-underline-offset: 2px;
    transition: text-decoration-color var(--transition);
}

a:hover,
a:active {
    text-decoration-color: var(--color-blue);
}

a {
    padding: .4em;
    margin: -.4em;
}

.tags {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.75rem;
}

.tags > li {
    display: inline-block;
    color: var(--color-dim);
    text-decoration: none;
}

.tags > li > a {
    margin: 0;
    padding: 0.15rem 0.4rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: solid 3px var(--color-smol);
    transition: border-color var(--transition);
}

.tags > li > a:hover {
    border-color: var(--color-dim);
}

.tags > li > a::before {
    content: "#";
    margin-right: 0.25rem;
    color: var(--color-smol);
}

hr {
    margin: 4.0rem auto;
    width: 33%;
    border: solid 1px var(--color-smol);
}

header {
    font-size: 1.3rem;
    min-height: 8rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: inherit;
    margin: 0;
    color: var(--color-fg);
}

footer {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    flex-shrink: 0;
    color: var(--color-dim);
}

footer > p {
    margin: 0;
}

.icon-link {
    text-decoration: none;
    transition: color var(--transition);
}

.icon-link:hover {
    color: var(--color-fg);
}

.icon-img {
    width: 1.25rem;
    margin-top: 0.4rem;
    filter: var(--filter-dim);
    transition: filter var(--transition);
}

.icon-img:hover {
    filter: var(--filter-fg);
}
