@font-face {
    font-family: "Cascadia Code";
    src: url("../fonts/CascadiaCode.ttf") format("truetype");
    src: url("../fonts/CascadiaCode.woff2") format("woff2");
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Cascadia Code";
    src: url("../fonts/CascadiaCodeItalic.ttf") format("truetype");
    src: url("../fonts/CascadiaCodeItalic.woff2") format("woff2");
    font-style: italic;
    font-display: swap
}

:root {
    --color-deep: #1c1c1c;
    --color-bg: #202020;
    --color-bg-2: #292929;
    --color-smol: #383838;
    --color-dim: #525252;
    --color-meh: #888888;
    --color-fg: #c8c8c8;
    --color-blue: #96c6dd;
    --color-purp: #bcb8e2;
}

* {
    font-family: "Cascadia Code";
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section {
    padding-bottom: 8rem;
    flex: 1 0 auto;
}

.container {
    height: 100%;
}

.column {
    margin: auto;
    max-width: 700px;
    padding: 0px 80px;
    box-sizing: content-box;
}

p,
ul,
pre {
    margin-top: 1.75rem;
    margin-bottom: 0;
    line-height: 1.6;
}

iframe {
    margin-top: 1.75rem;
    margin-bottom: 0;
    border-radius: .75rem;
}

pre, blockquote {
    border-radius: .75rem;
    box-shadow: 0.7rem 0.7rem var(--color-deep);
}

blockquote {
    margin: 0;
    margin-top: 1.6rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-bg-2);
    border-left: solid 4px var(--color-meh);
}

blockquote p {
    margin: 0;
    text-box-trim: trim both;
    font-style: italic;
}

pre {
    line-height: 1.15;
    padding: 1rem 1.5rem;
    border: solid 3px var(--color-smol);
}

p > code,
li > code {
    padding: .125ch .5ch;
    margin: 0 -0.5ch;
    border-radius: .38em;
    border: 2px solid var(--color-smol);
    box-shadow: 0.25rem 0.25rem var(--color-deep);
}

.about {
    margin-top: 3rem;
    border: solid 3px var(--color-smol);
    border-radius: 1.0rem;
    box-shadow: 0.7rem 0.7rem var(--color-deep);
    transition: box-shadow 500ms;
}

.about:hover {
    box-shadow: 2.4rem 2.4rem var(--color-deep);
}

.about > p {
    margin: 2.5rem 3.0rem;
}

/* .page-info { */
/*     color: var(--color-dim); */
/*     margin-left: 1.5rem; */
/* } */

/* .page-info::after { */
/*     content: " min"; */
/* } */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: var(--color-blue);
    margin-bottom: 0;
}

h1 {
    font-size: 2.4rem;
    margin-top: 0.0rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-top: 5.0rem;
    position: relative;
}

h3 {
    font-size: 1.4rem;
    margin-top: 3.0rem;
    position: relative;
}

::selection {
  color: var(--color-bg);
  background: var(--color-blue);
}

.subtitle {
    margin-top: .75rem;
    color: var(--color-dim);
    text-align: center;
}

.title-section {
    margin-top: 5.0rem;
    margin-bottom: 4.0rem;
    padding-bottom: 2rem;
}

::marker {
    color: var(--color-blue);
    content: "\2B24  ";
}

nav ul {
    /* list-style: none; */
    padding: 0;
    margin: 0;
    font-weight: 900;
}

nav > ul > li {
    float: left;
    margin-left: 1.1em;
}

nav > ul > li::marker {
    content: "";
}

nav > ul > li > a {
    color: var(--color-fg);
    text-underline-offset: 3px;
}

header > h1 > a {
    text-underline-offset: 3px;
}

nav > ul > li.active {
    color: var(--color-bg);
}

a {
    color: inherit;
    text-decoration: underline solid 3px var(--color-dim);
    text-underline-offset: 2px;
    transition: all 600ms cubic-bezier(0.1, 1.0, 0.1, 1.0);
}

a:hover,
a:active {
    text-decoration-color: var(--color-blue);
}

a {
    padding: .4em;
    margin: -.4em;
}

.tags {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.tags > li {
    margin-left: 0.25rem;
    display: inline-block;
    color: var(--color-dim);
    text-decoration: none;
}

.tags > li > a {
    padding: 0.2rem 0.4rem;
    margin: 0;
    border: solid 3px var(--color-smol);
    border-radius: 0.5rem;
    text-decoration: none;
}

.tags > li > a:hover {
    border-color: var(--color-dim);
}

header {
    font-size: 1.3rem;
    min-height: 8rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: inherit;
    margin: 0;
    color: var(--color-fg);
}

footer {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dim);
    flex-shrink: 0;
}

footer > p {
    margin: 0;
}
