<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>aeraglyx</title>
        <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">
        <meta name="color-scheme" content="dark">
    </head>

    <body>
        <header class="column">
            <h1>
                <a href="/">aeraglyx</a>
            </h1>
            <nav>
                <ul>
                    {% for item in config.extra.nav %}
                    <li class="{% if current_path == item.url %}active{% endif %}"><a href="{{ item.url | safe }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <section class="section">
            <div class="container column">
                {% block content %} {% endblock content %}
            </div>
        </section>
        <footer>
            <a class="icon-link" href="/">aeraglyx</a>
            <p>/</p>
            {% for link in config.extra.links %}
            <a class="icon-link" href="{{ link.url }}">
                <img class="icon-img" src="/img/icons/{{ link.name }}.svg" alt="{{ link.name }}">
            </a>
            {% endfor %}
        </footer>
    </body>

</html>
