{% macro page_list(pages) %}
<ul class="page-list">
    {% for page in pages %}
    <li class="page-list-item">
        <div class="page-title">
            <a href="{{ page.permalink | safe }}"{% if page.draft %} class="draft"{% endif %}>
                {{- page.title -}}
            </a>
            <span class="page-info">{{ page.reading_time }}</span>
        </div>
        <div class="page-subtitle">
            {%- if page.date %}
            <p><date>{{ page.date }}</date></p>
            {%- endif %}
            {%- if page.taxonomies.tags %}
            <ul class="tags">
                {%- for tag in page.taxonomies.tags %}
                <li>
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">
                        {{- tag -}}
                    </a>
                </li>
                {%- endfor %}
            </ul>
            {%- endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{%- endmacro page_list %}
